<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
	</head>
	<body>
		<!--<ol>
			<li>버튼 두개를 만들고,</li>
			<li>버튼 클릭시 1씩 증가하고,</li>
			<li>증가한 번호 총합</li>
		</ol>-->

		<div id="app">
			<h3>문자열</h3>
			<input v-model="message" placeholder="여기를 수정해보세요"></input>
			<p>메시지 : {{ message }}</p>

			<h3>여러줄을 가진 문장</h3>
			<textarea v-model="message" placeholder="여기를 수정해보세요"></textarea>
			<p style="white-space: pre-line">{{ message }}</p>

			<h3>체크박스</h3>
			<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
			<label for="jack">Jack</label>
			<input type="checkbox" id="john" value="John" v-model="checkedNames">
			<label for="john">John</label>
			<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
			<label for="mike">Mike</label>
			<p>체크한 이름 : {{ checkedNames }}</p>

			<h3>라디오</h3>
			<input type="radio" id="one" value="One" v-model="picked">
			<label for="one">One</label>
			<br>
			<input type="radio" id="two" value="Two" v-model="picked">
			<label for="two">Two</label>
			<br>
			<p>체크한 이름 : {{ picked }}</p>

			<h3>셀렉트</h3>
			<select v-model="selected">
				<option disabled value="">Please select one</option>
				<option>A</option>
				<option>B</option>
				<option>C</option>
			</select>
			<p>셀렉트 : {{ selected }}</p>
		</div>
		<script>
			new Vue({
				el : "#app",
				data : {
					message : '안녕',
					checkedNames : [],
					picked : '',
					selected : ''
				},
			})
		</script>

		<a href="https://kr.vuejs.org/v2/guide/components.html#%EC%82%AC%EC%9A%A9%EC%9E%90-%EC%A0%95%EC%9D%98-%EC%9D%B4%EB%B2%A4%ED%8A%B8%EB%A5%BC-%EC%82%AC%EC%9A%A9%ED%95%98%EC%97%AC-%ED%8F%BC-%EC%9E%85%EB%A0%A5-%EC%BB%B4%ED%8F%AC%EB%84%8C%ED%8A%B8-%EB%A7%8C%EB%93%A4%EA%B8%B0" target="_blank">
			사용자 정의 이벤트를 사용하여 폼 입력 컴포넌트 만들기
		</a>
	</body>
</html>
